
<%- include('partials/header') %>

<body>

    <%- include('partials/navbar') %>

    <div class="container">
        <div  id="formulario-pergunta">
            <div class="card-header">
                <h2>Faça sua pergunta...</h2>
            </div>

            <div class="card-body">
                <hr>
                <form method="POST" action="/salvarpergunta">
                    <label for="">Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
        
                    <br> <label for="">Assunto</label>
                    <textarea style="resize: none" name="assunto" id="" cols="30" rows="4" placeholder="Escreva sua pergunta" class="form-control" ></textarea> 
                    <br>
        
                    <button type="submit" class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>

</body>

<%- include('partials/footer') %>