<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">


        <div class="card">
            <div class="card-header">
                <h3>Faça sua pergunta...</h3>
            </div>

            <div class="card-body">
                <hr>
                <form action="">
                    <label for="">Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control">
        
                    <br> <label for="">Descrição</label>
                    <textarea name="" id="" cols="30" rows="4" placeholder="Escreva sua pergunta" class="form-control"></textarea> <br>
        
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>



    </div>
    














</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script src="/js/bootstrap.min.js"></script>
</html>