
<%- include('partials/header') %>

<body>

    <%- include('partials/navbar') %>

    <div class="container">

        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Faça sua pergunta...</h3>
            </div>

            <div class="card-body">
                <hr>
                <form method="post" action="">
                    <label for="">Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control">
        
                    <br> <label for="">Descrição</label>
                    <textarea name="" id="" cols="30" rows="4" placeholder="Escreva sua pergunta" class="form-control"></textarea> <br>
        
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>
</body>
