
body{
    background-image: url(/img/fundo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

h1{
    color: #fff;
}

h3{
    color: #e81111;
    font-size: 22px;
    font-weight: 600;
    /* text-align: center; */
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    color: #fff;
}

textarea{
    max-width: 450px;
}

label{
    color: #fff;
}

hr{
    color: #fff;
    
}

.container{
    background-color: #e6e2e230;
    max-width: 450px;
    padding: 15px;
    border-radius: 4px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img{
    width: 130px;
    height: 130px;
}

#formulario-pergunta{
    margin-top: 5vh;
}

.footer {
    background-color: #e6e2e20f;
    padding: 15px;
    margin-top: 20px;
}

.footer .credito{
    font-size: 16px;
    color: #fff;
    text-align: center;
}