
body{
    background-image: url(/img/fundo3.jpg);
    background-repeat: no-repeat;
}

h1{
    color: #fff;
}

h3{
    color: #d01e1e;
}

p{
    font-size: 20px;
    color: #fff;
}

textarea{
    max-width: 450px;
}

label{
    color: #fff;
}

hr{
    color: #fff;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img{
    width: 130px;
    height: 130px;
}

#formulario-pergunta{
    margin-top: 5vh;
}