h3{
    color: blue;
}

body{
    background-image: url(/img/fundo3.jpg);
    background-repeat: no-repeat;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img{
    width: 130px;
    height: 130px;
}

#formulario-pergunta{
    margin-top: 5vh;
}